body {
    font-size: 1.1em;
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: Hasklig;
    src: url(Hasklig.otf);
}

code {
    font-size: 1.0em;
    font-family: Hasklig;
}

pre {
    /* background: #00F; */
    margin: 0px;
    padding: 0px;
}

.content {
    max-width: 800px;
    margin: auto;
    line-height: 1.3em;
}

h1 {
    /* font-family: Hasklig; */
    background: #000;
    color: #FFF;
    padding: 14px;
    font-size: 1.8em;
}

h2 {
    font-size: 1.1em;
}

.jargon {
    font-weight: bold;
}

a {
    color: #FF3F60;
}

.lessonlink {
    background: #FF3F60;
    color: #FFF;
    text-decoration: none;
    padding: 5px;
}

.lessonlink:hover {
    text-decoration: italic;
}

.lessonlink:visited {
    background: #9A0060;
    color: #DDD;
}
