.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: #000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #0072b2;
}

.hljs-template-tag {
  color: #F00;
}

.hljs-number {
  color: #8cd0d3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #000;
}

.hljs-literal {
  color: #efefaf;
}

.hljs-subst {
  color: #F00;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #48B;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #F00;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #00AF7F;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #000;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
